{% extends "layout.html" %} 
{% block content %}
<script>
    let user_image = {{user_image|tojson}}
    let forehead = {{forehead|tojson}}
    let eye_left = {{eye_left|tojson}}
    let eye_right = {{eye_right|tojson}}
    let cheek_left = {{cheek_left|tojson}}
    let cheek_right = {{cheek_right|tojson}}
    let hair_mask = {{hair_mask|tojson}}
</script>
<body>
    <div class="container-fluid">
        <div class="middle-content" id="getupload">
            <h2>Please upload a headshot with bright lighting in front of a white backgroud. <b></b> Upload a .jpg or .jpeg filetype.</h2>
            <br>
            <form method="POST" enctype="multipart/form-data" action="{{ url_for('upload_photo') }}">
                <input type="file" name="upload"accept="*.jpg"/>
                <input type="submit" class="btn btn-primary" value="Submit">
            </form>
            <h2>Photo uploaded sucessfully!</h2>
            <img src="{{ user_image }}" alt="User photo" id="userphoto" >
        </div>
        <div class="content" id="segmentcontent">
            <h2>Masks</h2>
                <td><img src="data:image/jpeg;base64,{{hair_mask}}" width= "400" height="100" id="hair"></td>
                <br>
                <td><img src="data:image/jpeg;base64,{{forehead}}" id="forehead"></td>
                <br>
                <td><img src="data:image/jpeg;base64,{{eye_left}}" class="eye"></td> <b></b> <td><img src="data:image/jpeg;base64,{{eye_right}}" class="eye"></td>
                <br>
                <td><img src="data:image/jpeg;base64,{{cheek_left}}" id="rightcheek" class="cheek"></td> <b></b> <td><img src="data:image/jpeg;base64,{{cheek_right}}" class="cheek"></td>
                <br>
                <div class="padding text-center" id="place" style="background-color: white;">
                    <h2>Click to see the right colors for you!</h2>
                    <form method="POST" action="{{ url_for('color_analysis') }}">
                        <button type="submit" name="c_a" class="btn btn-primary">Analyze Me</button>
                        <input type="hidden" name="action" value="submit">
                    </form>
                </div>
        </div>
    </div>
    <form method="POST" action="{{ url_for('back') }}">
        <button type="submit" name="back" class="btn btn-primary backbutton">Back</button>
        <input type="hidden" name="action" value="submit">
    </form>
</body>
{% endblock %}